<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8HXZFK8DTF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8HXZFK8DTF');
</script>

<!-- Favicons -->
<link rel="icon" href="{{ '/assets/favicon.svg' | relative_url }}" sizes="any" type="image/svg+xml">
<link rel="icon" href="{{ '/assets/favicon.png?v=1' | relative_url }}" sizes="32x32" type="image/png">
<link rel="shortcut icon" href="{{ '/favicon.ico?v=1' | relative_url }}" type="image/x-icon">
